In [1]:
# import libraries
import pandas as pd

In [3]:
# read the .csv from part II as dataframe
df = pd.read_csv('thebiglist_clean_extended.csv')
df

,Brand,Variety,Style,Country,Stars,isspicy,haschicken,hasbeef,isseafood
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0

In [8]:
# get value counts for brands
top_thirty_brand = df['Brand'].value_counts()[:30]
top_thirty_brand

Nissin              476
Maruchan            131
Nongshim            119
Myojo               111
Samyang Foods       102
Paldo                84
Mama                 71
Sapporo Ichiban      69
Indomie              56
Ottogi               50
Acecook              48
Sau Tao              48
KOKA                 39
Maggi                38
Vifon                36
MyKuali              35
Mamee                34
Lucky Me!            34
Vina Acecook         34
MAMA                 33
Ve Wong              32
Master Kong          29
JML                  28
Vedan                28
Wei Lih              28
A-Sha Dry Noodle     26
Wai Wai              26
Yum Yum              23
Wu-Mu                23
Itsuki               20
Name: Brand, dtype: int64

In [35]:
# create another column called the newBrand
new_brand = []

for brand in df['Brand']:
    if brand in top_thirty_brand:
        new_brand.append(brand)
    else:
        new_brand.append('other')
        
df['newBrand']=new_brand  
df

,Brand,Variety,Style,Country,Stars,isspicy,haschicken,hasbeef,isseafood,newBrand
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban
...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other

In [38]:
len(df['newBrand'].value_counts())

31

In [39]:
len(df['Brand'].value_counts())

542

In [44]:
top_four_style = df['Style'].value_counts()[:4]
top_four_style

Pack    2085
Bowl     722
Cup      659
Tray     167
Name: Style, dtype: int64

In [48]:
# loop through style and create a newstyle column
new_style = []

for style in df['Style']:
    if style in top_four_style:
        new_style.append(style)
    else:
        new_style.append ('other')
        
df['newStyle']=new_style
df

,Brand,Variety,Style,Country,Stars,isspicy,haschicken,hasbeef,isseafood,newBrand,newStyle
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other,Pack
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other,Cup
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup
...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other,Pack

In [53]:
df['newStyle'].value_counts()

Pack     2085
Bowl      722
Cup       659
Tray      167
other      59
Name: newStyle, dtype: int64

In [56]:
#examine and choose the top countries 
df['Country'].value_counts()[:9].sum()

2938

In [60]:
top_ten_countries = df['Country'].value_counts()[:9]
top_ten_countries

Japan            681
United States    458
South Korea      411
Taiwan           372
China            245
Thailand         212
Malaysia         207
Hong Kong        191
Indonesia        161
Name: Country, dtype: int64

In [71]:
new_counry = []

for country in df['Country']:
    if country in top_ten_countries:
        new_counry.append(country)
    else:
        new_counry.append('other')
        
df['newCountry']=new_counry  
df

,Brand,Variety,Style,Country,Stars,isspicy,haschicken,hasbeef,isseafood,newBrand,newStyle,newCounry,newCountry
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other,Pack,Japan,Japan
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other,Cup,China,China
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack,Hong Kong,Hong Kong
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack,Hong Kong,Hong Kong
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl,other,other
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack,Thailand,Thailand
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack,Thailand,Thailand
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack,Thailand,Thailand
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other,Pack,United States,United States

In [72]:
df['newCountry'].value_counts()

other            754
Japan            681
United States    458
South Korea      411
Taiwan           372
China            245
Thailand         212
Malaysia         207
Hong Kong        191
Indonesia        161
Name: newCountry, dtype: int64

In [75]:
brand_dummy = pd.get_dummies(df['newBrand'], drop_first=True, 
                          prefix="from")
brand_dummy

,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,from_Lucky Me!,from_MAMA,from_Maggi,from_Mama,from_Mamee,...,from_Sau Tao,from_Ve Wong,from_Vedan,from_Vifon,from_Vina Acecook,from_Wai Wai,from_Wei Lih,from_Wu-Mu,from_Yum Yum,from_other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [79]:
style_dummy = pd.get_dummies(df['newStyle'], drop_first=True,
                            prefix="is")
style_dummy

      is_Cup  is_Pack  is_Tray  is_other
0          0        1        0         0
1          1        0        0         0
2          0        1        0         0
3          0        1        0         0
4          1        0        0         0
...      ...      ...      ...       ...
3687       0        0        0         0
3688       0        1        0         0
3689       0        1        0         0
3690       0        1        0         0
3691       0        1        0         0

[3692 rows x 4 columns]

In [81]:
country_dummy = pd.get_dummies(df['newCountry'], drop_first=True,
                              prefix="in")
country_dummy

,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,0,0,0,0,1
3688,0,0,0,0,0,0,1,0,0
3689,0,0,0,0,0,0,1,0,0
3690,0,0,0,0,0,0,1,0,0
3691,0,0,0,0,0,0,0,1,0

In [88]:
df_temp=df.drop(['Brand','Country','Style','Variety','newCounry','newBrand','newCountry','newStyle'], axis= 1)
df_temp

      Stars  isspicy  haschicken  hasbeef  isseafood
0       5.0        0           0        0          1
1       3.5        1           0        0          0
2       5.0        1           0        0          1
3       4.5        0           0        0          0
4       3.5        0           0        0          0
...     ...      ...         ...      ...        ...
3687    3.5        0           0        0          0
3688    1.0        0           0        0          0
3689    2.0        1           0        0          1
3690    2.0        1           0        0          0
3691    0.5        0           0        0          0

[3692 rows x 5 columns]

In [90]:
df_final = pd.concat([df_temp, brand_dummy, style_dummy, country_dummy], axis= 1) 
df_final

,Stars,isspicy,haschicken,hasbeef,isseafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,...,is_other,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,5.0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,4.5,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3688,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3689,2.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3690,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3691,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [93]:
df_final.to_csv('thebiglist_final.csv')
pd.read_csv('thebiglist_final.csv')

,Unnamed: 0,Stars,isspicy,haschicken,hasbeef,isseafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,...,is_other,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,0,5.0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,3.5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,5.0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3,4.5,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,3.5,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3687,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3688,3688,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3689,3689,2.0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3690,3690,2.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3691,3691,0.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

### Summary
1. Changed low_frequency values into "others".
2. Dummified the new columns.
3. Droppped unnecessary columns.
4. Joined everything into a final DataFrame.